html, body{
    padding: 0;
    margin: 0;
    background-color: #0F172A;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}

body{
    padding: 5%;
}

main{
    position: relative;
}

h1 {
    font-size: 1.5rem;
}

h3{
    font-size: 1em;
}

h4{
    font-size: .7em;
}

h1, h2, h3, h4, h5{
    margin: 0;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
}

a{
    text-decoration: none;
    color: inherit;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    width: 85%;
}

input{
    width: 100%;
    height: 10%;
    border-radius: 30px;
    padding: 7px;
    box-shadow: 0 4px 10px black;
}

#burger-button,
#add-button {
    width: 30px;
    height: 30px;
}

#add-button{
    border-radius: 50%;
    background-color: #0A5EB0;
    border: none;
    font-size: 20px;
    color: white;
}

#burger-button{
    color: white;
    background-color: #0F172A;
    border: none;
    font-size: 20px;
}

#dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#dashboard div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 30px;
    background-color: #1E293B;
    border: 1px solid #334155;
    padding: 10px;
    box-sizing: border-box;
}

.dashboard-icons{
    text-align: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 55px;
}

#application{
    color: #388DF8;
    background-color: #1e2650;
}

#interview{
    color: #FBBF24;
    background-color: #6b4f08;
}

#offers{
    color: #4ADE80;
    background-color: #1d3f26;
}

#rejected{
    color: #F87171;
    background-color: #351111;
}

#new-job{
    position: absolute;
    top: 100px;
    left: 50px;
    width: 80%;
    height: 80%;
    align-items: center;
    display: none;
    flex-direction: column;
    border-radius: 30px;
    background-color: #1E293B;
    border: 1px solid #334155;
    padding: 15px;
    box-sizing: border-box;
}

#new-job h2{
    margin-bottom: 20px;
}

#submit-button, #cancel-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 35%;
    height: 15%;
    padding: 10px;
    text-align: center;
    background-color: #1E293B;
    color: white;
}

#submit-button{
    border: 2px solid #4ADE80;
}

#cancel-button{
    border: 2px solid #F87171;
}

#submit-button:active{
    background-color: #4ADE80;
}

#cancel-button:active{
    background-color: #F87171;
}

.heading{
    font-size: 1em;
}

.heading-fancy{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: light;
  font-variation-settings:
    "wdth" 100;
}

.div-styles{
    background-color: #1E293B;
    border-radius: 30px;
    padding: 2%;
    box-sizing: border-box;
    border: 1px solid #334155;
}

.application-display{
    width: 100%;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
    align-items: center;
}

.application-display div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status{
    border-radius: 30px;
    font-size: 10px;
    box-sizing: border-box;
    text-align: center;
    padding: 2% 0;
}

#pie-chart-div{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 200px;
    position: relative;
}

#total-display{
    text-align: center;
    position: absolute;
    top: 103px;
    right: 215px;
}

#recent-applications{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    background-color: #0F172A;
    border: 1px solid #334155;
    border-radius: 30px;
    padding: 3%;
    box-sizing: border-box;
}

#application-section-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
    box-sizing: border-box;
    margin-bottom: 4%;
}

#view-all{
    background-color: #0F172A;
    border: none;
    color: #388DF8;
}